conda.enabled = true
process.executor = 'pbspro'

params {
    // General parameters
    bin_suffix = '.fna'

    // Scratch directory (shared across all processes)
    scratch_dir = '/scratch/u120274'

    // Conda environments
    conda {
        bin3c = '/shared/homes/120274/miniconda3/envs/bin3c'
        htslib = '/shared/homes/120274/miniconda3/envs/htslib'
        genmap = '/shared/homes/120274/miniconda3/envs/genmap'
        checkm1 = '/shared/homes/120274/miniconda3/envs/checkm1'
        checkm2 = '/shared/homes/120274/miniconda3/envs/checkm2'
        cocopye = '/shared/homes/120274/miniconda3/envs/cocopye'
        gtdbtk = '/shared/homes/120274/miniconda3/envs/gtdbtk'
        catbat = '/shared/homes/120274/miniconda3/envs/catbat'
        rnareport = '/shared/homes/120274/miniconda3/envs/rnatools'
        virsorter = '/shared/homes/120274/miniconda3/envs/virsorter'
        vibrant = '/shared/homes/120274/miniconda3/envs/vibrant'
        marvel = '/shared/homes/120274/miniconda3/envs/marv'
        dvf = '/shared/homes/120274/miniconda3/envs/deepvir'
        phabox = '/shared/homes/120274/miniconda3/envs/phabox'
        plasclass = '/shared/homes/120274/miniconda3/envs/plasclass'
        plasflow = '/shared/homes/120274/miniconda3/envs/plasflow_bioconda'
        plasforest = '/shared/homes/120274/miniconda3/envs/plasforest'
        plasmidhunter = '/shared/homes/120274/miniconda3/envs/plasmidhunter'
        revise = '/shared/homes/120274/miniconda3/envs/bin3c_new'
    }

    genmap {
        minscore = 0.333
        kmer = 50
    }

    bin3c {
        min_insert = 300
        min_extent = 0
        min_mapq = 60
        max_edist = 4
        bin_size = 5000
        min_alen = 50
        enz1 = 'Sau3AI'
        enz2 = 'MluCI'
        seed = 54321
        markov_scale = 0.95
        fdr_alpha = 1e-2
        norm_method = 'gothic'
        n_iter = 50
        min_sig = 5
        plot_contrast = 1e-4
        min_reflen = 2500
        assembler = 'flye'
    }

    revise {
        algorithm = 'greedy_modularity'
        min_extent = 500_000
        min_contamination = 10
        min_completeness = 50
    }

    seq_embed {
        device_id = 0
        chunk_size = 5000
        batch_size = 5
    }

    sig3c {
        learning_rate = 1e-4
        n_epochs = 500
        n_nodes = 32
        n_layers = 5
    }

    rna_report {
        batch_size = 20
    }

    checkm2 {
        extension = '.fna'
    }

    gtdbtk {
        mash_db = "\$GTDBTK_DATA_PATH/mash/gtdb_ref_sketch.msh"
    }

    cat {
        exe = '/shared/homes/120274/git/CAT_pack/CAT_pack/CAT_pack'
        tax_db_path = '/shared/homes/s1/databases/CAT-BAT/GTDB_v220/tax'
        data_db_path = '/shared/homes/s1/databases/CAT-BAT/GTDB_v220/db'
    }

    virsorter {
        groups ='dsDNAphage,ssDNA'
    }

    vibrant {
        exe = '/shared/homes/120274/s1/software/VIBRANT/VIBRANT_run.py'
    }

    marvel {
        exe = '/shared/homes/120274/git/MARVEL/parallel_marvel.sh'
    }

    plasclass {
        path = '/shared/homes/120274/s1/software/plasclass/bin'
    }

    plasforest {
        exe = '/shared/homes/120274/git/PlasForest/PlasForest.py'
    }

    phabox {
        db = '/shared/homes/s1/software/phabox2/phabox_db_v2'
    }
}
